@import "../../ScssMixin/mixin.scss";


.Order_container{
    @include flex;
    justify-content: space-between;
    margin-top: 120px;
}

.Or_Sender_container{
    @include flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
}

.Or_qauntity_container{
    @include flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
}

.Or_button_container{
    @include flex;
    flex-direction:column;
    // justify-content: space-around;
    align-content:space-between;
}

.Or_header_text{
    font-size: smaller;
    font-weight: bolder;
    color: #cc7722;
}

.Or_phone_text{
    font-size: smaller;
    font-weight: bolder;
    color: #cc7722;
    margin-left: 20px;
}

.margin_buttom{
    margin-bottom: 40px;
}

.margin_top{
    margin-top: 40px;
}

.font_size{
    font-size: small;
}

.font_size_phone{
    margin-left: 20px;
    font-size: small;
}

.product_Name{
    font-size: 20px;
}

.box{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background:#cc7722;
}

.Or_button{
        text-transform: none !important;
        color:white !important;
        background: #cc7722 !important;
        border: none !important;
        width: 200px !important;
        margin-right: 50px !important;
        margin-top: 260px !important;
}