@import "../../ScssMixin/mixin.scss";


.Order_container{
    @include flex;
    justify-content: space-between;
    margin-top: 120px;
}

.Or_Sender_container{
    @include flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
}

.Or_qauntity_container{
    @include flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
}

.Or_button_container{
    @include flex;
    flex-direction:column;
    // justify-content: space-around;
    align-content:space-between;
}

.Or_header_text{
    font-size: larger;
    font-weight: bolder;
    color: #cc7722;
    text-transform:capitalize;
}

.Or_phone_text{
    font-size: larger;
    font-weight: bolder;
    color: #cc7722;
    margin-left: 40px;
}

.margin_buttom{
    margin-bottom: 40px;
}

.margin_top{
    margin-top: 40px;
}

.font_size{
    font-size: large;
    text-transform:capitalize;
}

.font_size_phone{
    margin-left: 40px;
    font-size: large;
    text-transform:capitalize;
}

.product_Name{
    font-size: 20px;
    text-transform:capitalize;
}

.box{
    margin-right:200px ;
}

.Or_button{
        text-transform: none !important;
        color:white !important;
        background: #cc7722 !important;
        border: none !important;
        width: 250px !important;
        margin-right: 50px !important;
        margin-top: 260px !important;
}

.Or_pluse_container{
    display: flex !important;
    justify-content: center !important;
    align-items:  center !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;

}