@import "../../ScssMixin/mixin.scss";




.Preloder_container{
    @include flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-top: 220px;
}

.Logo{
    margin-bottom: 30px;
}

.Preloder_writeup{
    font-size: smaller;
    margin-bottom: 30px;
    text-align: center;
    opacity: 0.5;
}